html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

.body {
    background-color: #96c2b381;
    font-family: 'Lato', sans-serif;
    max-width: 1000px;
    margin: 2px auto;
    border: 3px solid rgba(36, 131, 84, 0.644);
    padding: 20px;
    text-align: center;
    
}

.dark {
    color: #adf1d7e3 ;
    background: #1a221fea;
}




.header {
    color: rgb(1 31 13 / 90%);
    text-shadow: 2px 2px 10px rgba(25, 27, 27, 0.5);
    background-color: #96c2b39e;
    border: 5px rgba(36, 131, 84, 0.644);
    border-style: groove;
    border-radius: 10px;
    text-shadow: 2px 4px 6px #e3f4f6;
    margin-inline: 5px;
}






.table {
    border-collapse: collapse;
    width: 100%;
}

.tableCell {
    border: 1px solid rgb(39, 38, 38);
padding: 15px;
text-align: center;
vertical-align: middle;
}

.tableRow:hover {
    background: #9fcebe80;
}



.section__container {
    overflow-x: auto;
}

.listItem {
    margin: 10px 0;
}



.footer {
    text-align: center;
margin: 50px auto;
padding: 10px 0px;
}

